@font-face {
  font-family: 'stoic';
  src: url('./font/stoic.ttf') format('truetype');
}


body {
  margin: 0;
  background-color: #252525;
  color: #999999;
  font-family: 'stoic';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
